<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Journals notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Hello <span th:text="${user.loginName}">XXXX</span>
</p>
<p>
    Below you have the journals published in the last 24 hours.
<table>
    <tr>
        <th>Name</th>
        <th>Publisher</th>
        <th>Category</th>
        <th>Publication date</th>
    </tr>
    <tr th:each="journal : ${journals}">
        <td th:text="${journal.name}">Onions</td>
        <td th:text="${journal.publisherName}">Onions</td>
        <td th:text="${journal.categoryName}">Onions</td>
        <td th:text="${#dates.format(journal.publishDate, 'MMMM dd, yyyy')}">Onions</td>
    </tr>
</table>
</p>
<p>
    Regards, <br />
    <em>The Medical Journals Team</em>
</p>
</body>
</html>
