<!-- FIXME: move to templatre folder -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Journals notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
Hello <span th:text="${user.loginName}">XXXX</span>
</p>
<p>
A new journal called <span th:text="${journal.name}">XXXX</span> has been published on <span th:text="${#dates.format(publishDate)}">XXXX</span> by <span th:text="${journal.publisher}">XXXX</span> in category <span th:text="${journal.category}">XXXX</span>
</p>
<p>
    Regards, <br />
    <em>The Crossover Team</em>
</p>
</body>
</html>
